# Logs
logs
*.log
npm-debug.log*

.idea/
.run/

node_modules

dist/

*.js
*.js.map

.DS_Store

# Taskfile.dist.yaml is used by the GitHub workflow.  Allow a local task file to push images to other hubs, etc.
Taskfile.yaml
